html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

p{
  font-family: 'Oswald', sans-serif;
  font-size: 1.125rem;
}

.grid-container{
  height: 100vh;
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 20rem 1fr 5rem;
  grid-template-columns: 1fr;
}

a:hover{
  background-color: #F4F4F4;
}

header{
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(./Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-position: top;
  height: 10rem;
  color: black;
}

header a{
  color: black;
  text-decoration: none;
  height: max-content;
  padding: .5rem;
}

main{
  grid-area: main;
  color: black;
}

footer{
  grid-area: footer;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #e3dedab2;
  color: black;
}

.content{
  display: flex;
  flex-wrap: wrap;
}

.mainContent{
  flex: 3 60rem;
}

.sidebar{
  flex: 1 20rem;
}

/* products */

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li{
  flex: 0 1 29rem;
  height: 47rem;
  padding: 1rem;
  max-width: 37rem;
}

.product{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}

.product img{
  max-width: 37rem;
  max-height: 37rem;
}

.product-price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

.product-price div, .product-price button{
  text-align: center;
}

a{
  color: black;
  text-decoration: none;
}

.button{
  background: rgba(189, 185, 181, 0.63);
  border: 0.75px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
  padding: .5rem;
  cursor: pointer;
}

.button:hover{
  background-color: #F4F4F4;
}